 /*一些工程中使用到的颜色*/
:root{
    /*红色,见到的红色都是这个颜色*/
    --base-red:#c00000;
    /*肉色/棕黄色,在文创商城的商品也底色*/
    --base-brown:#ffe8a3;
    /*灰色,教育资源第二个轮播卡片底色*/
    --base-grey:#e5e5e5;
    /*作品展示中的金色边框*/
    --base-gold:#ffc000;
    --font-size-normal:clamp(14px, 2vw, 20px);
    --font-size-large:clamp(21px, 3vw, 30px);
}